.fixed-index{
    padding-top: 56px;
    @include media-breakpoint-up(md){
        padding-top: 69px;
    }
    @include media-breakpoint-up(lg){
        padding-top: 150px;
    }
}

.recommend-img{
    height: calc(100vw + 12px);
    @include media-breakpoint-up(md){
        max-height: 340px;
    }
}
//ranking
.ranking-sm{
    .ranking-img-sm{
        img{
            width: 87px;
            height: 92px;
        }
        &:hover::after{
        content: "MORE";
        color:#fff;
        font-size: 1.125rem;
        font-family: 'Squada One', "Noto Sans TC", cursive, sans-serif;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        inset: 0;
        background:linear-gradient(rgba(0, 0, 0, 0.5));
        }
        &:hover::before{
            content:"";
            position: absolute;
            bottom: 0;
            right: 0;
            border-right:16px solid $secondary;
            border-top: 16px solid transparent;
            z-index: 10;
        } 
    }
}


.ranking-header{
    @include media-breakpoint-down(lg){
        .ranking-img-sm{
            img{
                width: 87px;
                height: 92px;
            }
            &:hover::after{
            content: "More";
            color:#fff;
            font-size: 1.125rem;
            font-family: "Squada One", "Noto Sans TC", cursive, sans-serif;;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            inset: 0;
            background:linear-gradient(rgba(0, 0, 0, 0.5));
            }
            &:hover::before{
                content:"";
                position: absolute;
                bottom: 0;
                right: 0;
                border-right:16px solid $secondary;
                border-top: 16px solid transparent;
                z-index: 10;
            } 
        }
    }
    img{
        width: 87px;
        height: 92px;
    }
    @include media-breakpoint-up(lg){
            img{
            object-position: top;
            width: 100%;
            height: 374px;
        }
    .btn-more-hover{
    position: absolute;
    bottom: 0px;
    right: 0%;
    display: none !important;
    padding: 8px 48px;
    font-family: 'Squada One', cursive, sans-serif;
    line-height: 1;
    background: $secondary !important; 
    color: $white;
    &::after{
      content:"";
      position: absolute;
      bottom:0;
      right:0;
      border-top: 16px solid transparent;
      border-right: 16px solid black;
    }  
  }
     
  &:hover{
      .btn-more-hover{
      display: inline-block !important;
    }
    &::after{
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      inset: 0;
      background:linear-gradient(rgba(0, 0, 0, 0.5));
    }
  }

    }
    
}

///swiper
.swiper-slide {
  background: var(--bg-url);
  background-position: center;
  background-size: cover;
  filter:grayscale(1);
  height: 434px;
  
}
.swiper-slide-next, .swiper-slide-prev{
   @include media-breakpoint-up(lg){
    width: calc(25% - 24px) !important;
    height: 216px;
   }
}
.swiper-slide-active{
    @include media-breakpoint-up(lg){
        width: 50% !important;
    }
    filter:grayscale(0);
    .slide-content{
        display: block !important;
  }
  
}
.swiper-pagination-bullet{
    border-radius: 0px;
    background: black;
    width: 0.5rem;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    border-radius: 0px;
    background: $secondary;
    width: 1rem;
    transition: width 0.3s;
}



