ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.ol{
    outline:2px solid red;
}
img{
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}