
//btn-more
.btn-more{
  display: inline-block;
  padding: 8px 48px;
  position: relative;
  font-family: 'Squada One', cursive, sans-serif;
  line-height: 1;
  &::after{
    content:"";
    position: absolute;
    bottom:0;
    right:0;
    border-top: 16px solid transparent;
    border-right: 16px solid $secondary;
  }
  &:hover{
    background: $secondary !important; 
    color: $white;
    &::after{
    border-right: 16px solid $black;
  }
  }
}
//art-card


.artwork-content{
  position: relative;
  background: white;
  .art-work-hover{
    position: absolute;
    inset: 16px;
    visibility: hidden;
    border: 1px solid white;
  }
  @include media-breakpoint-up(md){
    @media (hover:hover) {
    &:hover{
      .artwork-body::after{
      content:"";
      background: rgba(0,0,0,0.5);
      position: absolute;
      inset: 0;
    }
    .art-work-hover{
      visibility: visible;
    }
    }
  }
  }

}

  .art09{
    height: 139px;
  }
  .art10{
    height: 151px;
  }
  .art02{
    height: 93px;
  }
  .art11{
    height: 173px;
  }
  .art12{
    height: 192px;
  }
  .art03{
    height: 99px;
  }

@include media-breakpoint-up(md){
  .art09{
    height: 254px;
  }
  .art10{
    height: 327px;
  }
  .art02{
    height: 254px;
  }
  .art11{
    height: 169px;
  }
  .art12{
    height: 174px;
  }
  .art03{
    height: 254px;
  }
}