//menu-button
.menu1,.menu2,.menu3{
    width: 21px;
    height: 3px;
    background: #000;
    margin-top: 4px;
    transition: 0.5s;
}
.change .menu1 {
  transform: rotate(-46deg) translate(-4px, 5px);
}
.change .menu2 {
    opacity: 0;
}
.change .menu3 {
  transform: rotate(46deg) translate(-4px, -6px);
}
//more-btn
.btn-more{
  display: inline-block;
  padding: 8px 48px;
  position: relative;
  font-family: 'Squada One', cursive, sans-serif;
  line-height: 1;
  &::after{
    content:"";
    position: absolute;
    bottom:0;
    right:0;
    border-top: 16px solid transparent;
    border-right: 16px solid $secondary;
  }
  &:hover{
    background: $secondary !important; 
    color: $white;
    &::after{
    border-right: 16px solid $black;
  }
  }
}
