//menu-button
.menu-bar1,.menu-bar2,.menu-bar3{
    width: 21px;
    height: 3px;
    background: #000;
    margin-top: 4px;
    transition: 0.5s;
}
.change .menu-bar1 {
  transform: rotate(-46deg) translate(-4px, 5px);
}
.change .menu-bar2 {
    opacity: 0;
}
.change .menu-bar3 {
  transform: rotate(46deg) translate(-4px, -6px);
}

//btn-more
.btn-more{
  display: inline-block;
  padding: 8px 48px;
  position: relative;
  font-family: 'Squada One', cursive, sans-serif;
  line-height: 1;
  &::after{
    content:"";
    position: absolute;
    bottom:0;
    right:0;
    border-top: 16px solid transparent;
    border-right: 16px solid $secondary;
  }
  &:hover{
    background: $secondary !important; 
    color: $white;
    &::after{
    border-right: 16px solid $black;
  }
  }
}
//art-card
.artwork-content{
    position: relative;
    background: white;
    .art-work-hover{
        position: absolute;
        inset: 16px;
         visibility: hidden;
        border: 1px solid white;
    }
    &:hover{
        .artwork-body::after{
        content:"";
        background: rgba(0,0,0,0.5);
        position: absolute;
        inset: 0;
    }
    .art-work-hover{
        visibility: visible;
    }
    }
}