.z-index{
    z-index: 10;
}
.font-squada{
    font-family: 'Squada One', "Noto Sans TC", cursive, sans-serif;
}
.font-paytone{
    font-family: 'Paytone One', sans-serif;
}
.writing-vertiacl-lr{
    writing-mode:vertical-lr;
}
.ring-1{
    box-shadow:0 0 0 1px #000;
}
.obj-position-center{
    object-position: center;
}
.row-gap-12{
    row-gap: 3rem;
}
.fixed-index{
    padding-top: 56px;
    @include media-breakpoint-up(md){
        padding-top: 69px;
    }
    @include media-breakpoint-up(lg){
        padding-top: 150px;
    }
}
.fixed{
   padding-top: 80px;
    @include media-breakpoint-up(md){
        padding-top: 93px;
    }
    @include media-breakpoint-up(lg){
        padding-top: 150px;
    }
}
